<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>summa</string>
			</array>
		</dict>
	</array>
	<key>API_KEY</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImRrdGtnb2dwcGNhbWZzZnNyYnJ1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTQxNjQwMTgsImV4cCI6MjA2OTc0MDAxOH0.1RXA8f5ZFoX82cdkVxym7doGQ8AnZLrdFmvGvR1ej9o</string>
	<key>API_URL</key>
	<string>https://dktkgogppcamfsfsrbru.supabase.co</string>
	<key>UIAppFonts</key>
	<array>
		<string>Roboto-Thin.ttf</string>
		<string>Roboto-ThinItalic.ttf</string>
		<string>Roboto-LightItalic.ttf</string>
		<string>Roboto-Medium.ttf</string>
		<string>Roboto-MediumItalic.ttf</string>
		<string>Roboto-SemiBold.ttf</string>
		<string>Roboto-SemiBoldItalic.ttf</string>
		<string>Roboto-ExtraBoldItalic.ttf</string>
		<string>Roboto-ExtraLight.ttf</string>
		<string>Roboto-ExtraLightItalic.ttf</string>
		<string>Roboto-Italic.ttf</string>
		<string>Roboto-Light.ttf</string>
		<string>Roboto-BlackItalic.ttf</string>
		<string>Roboto-Bold.ttf</string>
		<string>Roboto-BoldItalic.ttf</string>
		<string>Roboto-ExtraBold.ttf</string>
		<string>Roboto-Black.ttf</string>
		<string>BacasimeAntique-Regular.ttf</string>
		<string>Roboto-Regular.ttf</string>
	</array>
</dict>
</plist>
